* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Source Sans Pro", sans-serif;

	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}

.github-ico {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
	color: #ffffffd7;
	font-size: 40px;
	text-shadow: 3px 3px 6px #0a0a0aec;
}

.wrapper {
	width: 400px;
	padding: 20px;
	background-color: $white-color;
	color: $black-color;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(34, 34, 34, 0.336);
}

.header {
	height: 100px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__h1 {
		font-size: 30px;
		margin-bottom: 5px;
		color: $main-color;
	}
	&__h2 {
		color: $subsidiary-color;
		font-size: 18px;
		letter-spacing: -0.5px;
		font-weight: 300;
	}
}

.form-box {
	position: relative;
	padding: 0 20px;
	margin-bottom: 8px;
	font-size: 16px;

	&__label {
		transition: 0.3s;
		position: absolute;
		left: 0;
		padding: 10px 8px;
		margin-left: 24px;
		color: $subsidiary-color;
		pointer-events: none;
	}

	&__input {
		transition: 0.3s;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		background: none;
		border: none;
		border: 1.5px solid $subsidiary-color;
		border-radius: 5px;
		color: $black-color;
		font-family: "Source Sans Pro", sans-serif;
		&::placeholder{
			color: $white-color;
		}
	}

	&--password {
		position: relative;

		.form-box__input {
			padding-right: 38px;
		}
	}

	&__icon {
		transition: 0.3s;
		position: absolute;
		top: 12px;
		right: 32px;
		font-size: 20px;
		font-weight: 300;
		color: $subsidiary-color;
		cursor: pointer;
	}

	&__error-text {
		visibility: hidden;
		font-size: 14px;
		margin-top: px;
		margin-left: 4px;
	}
	&__terms-error-text {
		visibility: hidden;
		margin-top: 10px;
		margin-left: 4px;
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
	}

	&--error {
		color: $error-color;

		.form-box__error-text {
			visibility: visible;
		}
		.form-box__input {
			border: 1.5px solid $error-color;

			&:focus {
				outline: none;
				border: 1.5px solid $error-color;
			}

		}
		.form-box__terms-error-text {
			visibility: visible;
		}
        .form-box__icon,
        .form-box__input:focus ~ .form-box__icon,
        .form-box__input:valid ~ .form-box__icon{
			color: $error-color;
		}
        .form-box__input:focus ~ .form-box__label,
        .form-box__input:valid ~ .form-box__label{
            color: $error-color;
            border-left: 1.5px solid $error-color;
            border-right: 1.5px solid $error-color;
        }
		#username:focus ~ .form-box__label,
		#username:valid ~ .form-box__label{
    	color: $white-color;
    	background-color: $error-color;
   		border-radius: 3px;
}
	}

	&--terms {
		position: relative;
		margin-top: 10px;
	}

	&__terms-checkbox {
		position: absolute;
		top: 0;
		left: 20px;
		height: 20px;
		width: 20px;
	}

	&__terms-p {
		display: block;
		padding-left: 30px;
		color: $main-color;
		font-size: 14px;
	}
}

.control-buttons {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 15px;
	margin-right: 20px;

	&__btn {
		margin-left: 20px;
		padding: 6px 20px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 600;
		border-radius: 6px;
		cursor: pointer;

		&--clear {
			width: 80px;
			border: 2.5px solid $main-color;
			background: none;
			color: $main-color;
		}
		&--register {
			width: 120px;
			background-color: $main-color;
			border: 2.5px solid $main-color;
			color: $white-color;
		}
	}
}
