* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;

	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}

.github-ico {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
	color: #ffffffd7;
	font-size: 40px;
	text-shadow: 3px 3px 6px #0a0a0aec;
}

.wrapper {
	width: 400px;
	padding: 20px;
	background-color: rgb(250, 250, 250);
	color: #050505;
	border-radius: 15px;
}

.header {
	height: 120px;
	margin-bottom: 40px;
	display: flex;
	align-items: flex-end;
	font-size: 28px;
}

.form-box {
	padding: 0 20px;
	margin-bottom: 15px;
	font-size: 16px;

	&__label {
		display: inline-block;
		margin-bottom: 5px;
	}

	&__input {
		width: 100%;
		padding: 8px;
		font-size: 14px;
		background: none;
		border: none;
		border: 1px solid #d3d3d3;
		border-bottom: solid 2px #bbbbbb;
		border-radius: 5px;
		color: #141414;
		font-family: "Roboto", sans-serif;

		&:focus {
			outline: none;
			border: 1px solid #292929;
			border-bottom: solid 2px #1b1b1b;
		}
	}
}

.control-buttons {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 30px;
	margin-right: 20px;

	&__btn {
		margin-left: 20px;
		padding: 5px 20px;
		font-family: "Roboto", sans-serif;
		cursor: pointer;
	}
}
