@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(245, 245, 245);

	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}

.github-ico {
	position: absolute;
	bottom: 2vh;
	right: 4vw;
	color: #ffffffd7;
	font-size: 40px;
	text-shadow: 3px 3px 6px #0a0a0aec;
}

.wrapper {
	width: 400px;
	padding: 20px;
	background-color: #ffffff;
	color: #050505;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(34, 34, 34, 0.336);
}

.header {
	height: 100px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column ;

	&__h1{
		font-size: 28px;
		margin-bottom: 5px;
	}
	&__h2{
		font-size: 16px;
		font-weight: 300;
	}
}

.form-box {
	padding: 0 20px;
	margin-bottom: 15px;
	font-size: 16px;

	&__label {
		display: inline-block;
		margin-bottom: 5px;
	}

	&__input {
		width: 100%;
		padding: 8px;
		font-size: 14px;
		background: none;
		border: none;
		border: 1.5px solid #d3d3d3;
		border-radius: 5px;
		color: #141414;
		font-family: "Roboto", sans-serif;

		&:focus {
			outline: none;
			border: 1.5px solid #292929;
		}
	}
}

.control-buttons {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 30px;
	margin-right: 20px;

	&__btn {
		margin-left: 20px;
		padding: 5px 20px;
		font-family: "Roboto", sans-serif;
		cursor: pointer;
	}
}
